[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Sentinella
Comment=Sentinella GUI for Sentinella scripts.
Version=1.0
Terminal=false
Exec=/usr/local/bin/senti
Icon=/usr/share/icons/senti.png
