[Desktop Entry]
Type=Application
Version=1.0
Name=Sentinella
Comment=Sentinella GUI for Sentinella scripts.
Exec=sentinella
Icon=sentinella
Terminal=false
Categories=Utility;System;
